<launch>
    <arg name="play_back_rate" default="1.0" />
    <arg name="bag_path1" default="$(find gait_training_robot)/bags/optitrack/$(arg bag_name).bag" />
    <arg name="bag_path2" default="" />
    <param name="use_sim_time" value="true"/>
    <node name="rosbag_play_node" pkg="rosbag" type="play" required="true"
          args="--clock -r $(arg play_back_rate)
                $(arg bag_path1) $(arg bag_path2)" output="screen" >
		<remap from="/tf" to="/tf_old"/>
	</node>

    <!-- Remap frame to allow change of tf -->
    <node name="tf_remap" pkg="tf_remapper_cpp" type="tf_remap">
        <rosparam param="mappings" >
            [{old: camera_mount_top, new: camera_mount_top_old},
             {old: caster_swivel, new: caster_swivel_old},
             {old: caster_swivel, new: caster_swivel_old},
             {old: caster_wheel,  new: caster_wheel_old },
             {old: fused_odom,  new: fused_odom_old },
            ]
        </rosparam>
    </node>
    <node name="tf_broadcaster_azure_kinect" pkg="tf" type="static_transform_publisher"  
          args="0 0.015 0 0 0 0 camera_mount_top camera_mount_top_old 100" />

    <!-- Robot state publisher -->
    <include file="$(find gait_training_robot)/launch/includes/robot_state_publisher.launch" />
</launch>