<launch>
  <arg name="bag_filenames" default="/tmp/eas102_02.bag" />
  <arg name="pose_graph_filename" default="/tmp/eas102_02.bag.pbstream" />
  <arg name="config_file" default="assets_writer_2d.lua"/>
  <node name="cartographer_assets_writer" pkg="cartographer_ros" required="true"
      type="cartographer_assets_writer" args="
          -configuration_directory $(find gait_training_robot)/configuration_files
          -configuration_basename $(arg config_file)
          -urdf_filename $(find gait_training_robot)/urdf/gtr2.urdf
          -bag_filenames $(arg bag_filenames)
          -pose_graph_filename $(arg pose_graph_filename)"
      output="screen">
  </node>
</launch>