<launch>
	<arg name="bag_name" default="optitrack/data212b"/>
  <arg name="enable_kinect_pose_estimator" default="false"/>
	<include file="$(find gait_training_robot)/launch/test5_comkf.launch">
		<arg name="play_bag" value="true"/>
		<arg name="record_bag" value="false"/>
		<arg name="bag_name" value="$(arg bag_name)"/>
    <arg name="enable_gait_analyzer" value="true"/>
    <arg name="record_gait_analytics" value="true"/>
	</include>
	<node name="kinect_pose_estimator" pkg="gait_training_robot" type="kinect_pose_estimator"
    if="$(arg enable_kinect_pose_estimator)"/>
</launch>