<launch>
	<arg name="bag_name"                  default="data226"/>
	<arg name="enable_rviz_ga"            default="false"/>
	<arg name="enable_rviz_3d"            default="false"/>
	<arg name="enable_gait_analyzer"      default="true"/>
	<arg name="record_gait_analytics"     default="false"/>
	<arg name="record_all"  		      default="false"/>
	<arg name="foot_pose_topic_prefix"    default="fused"/>							<!-- raw, fused -->
	<arg name="global_frame_fpe"          default="fused_odom"/>                 <!-- fused_odom, odom -->
	<arg name="global_frame"              default="optitrack"/>                 <!-- fused_odom, optitrack -->
	<arg name="sport_sole_time_offset"    default="0.0"/>
    <arg name="play_back_rate" 		      default="1.0" />
    <arg name="comkf_measurement_scheme"  default="2" />

	<!-- IMU -->
	<!-- <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
		<param name="use_mag" value="false" />
		<param name="publish_tf" value="false" />
		<param name="world_frame" value="enu" />
		<remap from="/imu/data_raw" to="/imu" />
	</node> -->

	<node name="skeleton_publisher" pkg="gait_training_robot" type="skeleton_publisher" output="screen"/>

	<!-- foot_pose_estimator -->
	<node name="foot_pose_estimator" pkg="gait_training_robot" type="foot_pose_estimator" output="screen">
		<param name="global_frame"                  value="$(arg global_frame_fpe)"/>
		<param name="publish_frame"                 value="$(arg global_frame)"/>
		<param name="sport_sole_time_offset"        value="$(arg sport_sole_time_offset)"/>
		<rosparam command="load" file="$(find gait_training_robot)/params/foot_pose_estimator.yaml" />
	</node>

	<!-- kinect_pose_estimator -->
	<node name="kinect_pose_estimator" pkg="gait_training_robot" type="kinect_pose_estimator">
		<rosparam command="load" file="$(find gait_training_robot)/params/kinect_pose_estimator.yaml" />
	</node>

	<!-- Gait analyzer -->
	<group if="$(arg enable_gait_analyzer)">
		<node name="gait_analyzer" pkg="gait_training_robot" type="gait_analyzer_optitrack" output="screen" >
			<param name="data_source"                   value="k4a" />
			<param name="foot_pose_topic"               value="/foot_pose_estimator/$(arg foot_pose_topic_prefix)_pose_" />
			<param name="global_frame"                  value="$(arg global_frame)" />
			<param name="publish_frame"                 value="$(arg global_frame)"/>
			<param name="smoother_enabled"              value="false"/>
			<param name="sport_sole_time_offset"        value="$(arg sport_sole_time_offset)"/>
			<rosparam command="load" file="$(find gait_training_robot)/params/gait_analyzer$(arg comkf_measurement_scheme).yaml" />
		</node>
			
		<node name="gait_analyzer_optitrack" pkg="gait_training_robot" type="gait_analyzer_optitrack" output="screen" >
			<param name="data_source"                   value="optitrack" />
			<param name="global_frame"                  value="optitrack" />
			<param name="publish_frame"                 value="optitrack"/>
			<param name="smoother_enabled"              value="false"/>
			<rosparam command="load" file="$(find gait_training_robot)/params/gait_analyzer_optitrack$(arg comkf_measurement_scheme).yaml" />
			<param name="sport_sole_time_offset"        value="$(arg sport_sole_time_offset)"/>
		</node>

		<!-- Record gait analytics -->
		<node name="record_ga" pkg="rosbag" type="record" if="$(arg record_gait_analytics)"
			args="record -a -o $(find gait_training_robot)/bags/optitrack/ga/$(arg bag_name)"/>
		<!-- <node name="record_ga" pkg="rosbag" type="record" if="$(arg record_gait_analytics)"
			args="record -o $(find gait_training_robot)/bags/optitrack/ga/$(arg bag_name)
					&#45;&#45;regex '(/gait_analyzer/.*|/gait_analyzer_optitrack/.*)'"/> -->
	</group>

	<!-- rosbag play -->
	<include file="$(find gait_training_robot)/launch/includes/playback.launch" pass_all_args="true" >
		<arg name="bag_path2" value="$(find gait_training_robot)/optitrack/bags/$(arg bag_name).bag" />
	</include>

	<!-- Rviz -->
	<node name="rviz1" pkg="rviz" type="rviz" args="-d $(find gait_training_robot)/rviz/slam_rtabmap_ekf_ga.rviz" output="screen" if="$(arg enable_rviz_ga)" />
	<node name="rviz2" pkg="rviz" type="rviz" args="-d $(find gait_training_robot)/rviz/slam_rtabmap_ekf.rviz" output="screen" if="$(arg enable_rviz_3d)" />

	<!-- Record all -->
	<node name="record_all" pkg="rosbag" type="record" if="$(arg record_all)"
		  args="record -a -o $(find gait_training_robot)/bags/optitrack/all/$(arg bag_name)"/>
</launch>