<launch>
	<arg name="bag_name"               default="data213"/>
	<arg name="enable_gait_analyzer"   default="true"/>
	<arg name="record_odom"            default="false"/>
	<arg name="rviz_config_file"       default="slam_rtabmap_ekf.rviz"/>     <!-- slam_rtabmap_ekf_ga.rviz -->
	
	<!-- foot_pose_estimator -->
	<node name="foot_pose_estimator" pkg="gait_training_robot" type="foot_pose_estimator" output="screen">
		<param name="global_frame"                  value="fused_odom"/>
		<param name="publish_frame"                 value="fused_odom"/>
		<param name="sport_sole_time_offset"        value="$(arg sport_sole_time_offset)\"/>
		<rosparam command="load" file="$(find gait_training_robot)/params/foot_pose_estimator.yaml" />
	</node>

	<!-- kinect_pose_estimator -->
	<node name="kinect_pose_estimator" pkg="gait_training_robot" type="kinect_pose_estimator" output="screen">
		<rosparam command="load" file="$(find gait_training_robot)/params/kinect_pose_estimator.yaml" />
	</node>
	
	<!-- Gait analyzer -->
	<group if="$(arg enable_gait_analyzer)">
		<node name="gait_analyzer" pkg="gait_training_robot" type="gait_analyzer" output="screen" >
			<param name="data_source"                   value="k4a" />
			<param name="global_frame"                  value="fused_odom" />
			<param name="publish_frame"                 value="fused_odom"/>
			<param name="sport_sole_time_offset"        value="$(arg sport_sole_time_offset)"/>
			<param name="smoother_enabled"              value="false"/>
			<rosparam command="load" file="$(find gait_training_robot)/params/gait_analyzer.yaml" />
		</node>
	</group>
	
	<!-- rosbag play -->
	<include file="$(find gait_training_robot)/launch/includes/playback.launch" pass_all_args="true" />

	<!-- Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gait_training_robot)/rviz/$(arg rviz_config_file)" output="screen"  if="$(arg enable_rviz)" />

	<!-- Record odom -->
	<node name="record_tf" pkg="rosbag" type="record" if="$(arg record_odom)"
		  args="record -o $(find gait_training_robot)/bags/optitrack/odom/$(arg bag_name)
		  		/kinect_pose_estimator/odom /odom"/>
</launch>