<launch>
  <include file="$(find gait_training_robot)/launch/test1_rtabmap_headless.launch" >
    <arg name="localization" value="true" />
    <arg name="enable_distance_controller" value="false" />
    <arg name="preview" value="true" />
  </include>
  <include file="$(find gait_training_robot)/launch/test1_rviz_rtabmap.launch" />
  <node name="refine_waypoints" pkg="gait_training_robot" type="refine_waypoints.py" />
  <node name="rtabmap_dummy_map" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 100"/>
  <node name="rtabmap_dummy_odom" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 odom base_link 100"/>
</launch>