<launch>
    <!-- <node name="rviz_pelvis_rect" pkg="rviz" type="rviz" args="-d $(find gait_training_robot)/rviz/pelvis_rect.rviz"/> -->
    <!-- <node name="rviz_pelvis_rect" pkg="rviz" type="rviz" args="-d $(find gait_training_robot)/rviz/slam_rtabmap_ekf.rviz"/> -->
	<!-- <node name="skeleton_publisher" pkg="gait_training_robot" type="skeleton_publisher" output="screen"/> -->
    <node name="rviz_3d" pkg="rviz" type="rviz" args="-d $(find gait_training_robot)/rviz/slam_rtabmap_ekf.rviz" output="screen" />
	<node name="rviz_2d" pkg="rviz" type="rviz" args="-d $(find gait_training_robot)/rviz/2d.rviz" output="screen" />

    <include file="$(find gait_training_robot)/launch/includes/robot_state_publisher.launch" />
</launch>