<launch>
  <arg name="bag_name" default="data" />
  <arg name="wired_sync_enabled" default="false"/>
  <arg name="online_mos_estimation_enabled" default="false"/>
  <arg name="disable_rviz" default="false"/>
  <arg name="stop_upon_completion" default="true"/>
  <arg name="max_num_laps" default="4" />
  <arg name="dir" default="sn"/>
  
  <include file="$(find gait_training_robot)/launch/test5_comkf.launch" pass_all_args="true">
    <arg name="waypoints_file_suffix" value="_sunny_$(arg dir)"/>
  </include>
	<!-- <node name="record_monitor" pkg="gait_training_robot" type="record_monitor.py" output="screen"/> -->
  <node name="rviz_rtabmap" pkg="rviz" type="rviz" args="-d $(find gait_training_robot)/rviz/slam_rtabmap.rviz" output="screen"/>

</launch>