<launch>
  <include file="$(find gait_training_robot)/launch/rtabmap_map.launch"/>
  <node pkg="rosbag" type="record" name="sport_sole_bag_record"
        args="record -o $(find gait_training_robot)/bags/mapping/test
              /camera/rgb/image_rect_color
              /camera/depth_registered/image_raw
              /camera/rgb/camera_info
              /tf /tf_static /odom
              /joint_states" />
</launch>