<launch>
  <arg name="localization"      default="false"/>
  <arg name="database_path"     default="rtabmap.db"/>
  <arg name="com_port" default="/dev/ttyUSB0"/>

  <!-- Arguments for Kinect driver -->
  <arg name="azure_kinect_driver_required" default="false" />
  <arg name="recording_file" default="" />
  <arg name="recording_loop_enabled" default="true" />
  
  <!-- rosaria -->
  <include file="$(find gait_training_robot)/launch/includes/robot.launch">
    <arg name="com_port" value="$(arg com_port)"/>
  </include>

  <!-- Kinect1 + rtabmap_ros -->
  <include file="$(find gait_training_robot)/launch/includes/kinect_rtabmap.launch">
    <arg name="localization" value="$(arg localization)" />
    <arg name="database_path" value="$(arg database_path)" />
  </include>

  <!-- distance_controller -->
  <arg name="enable_distance_controller" default="false"/>
  <arg name="dist_desired" default="1.7"/>
  <arg name="use_marker" default="true"/>
  <arg name="timeout_threshold" default="0.8"/>
  <arg name="v_in_threshold" default="0.2"/>
  <arg name="u_i_max" default="0.3"/>
  <arg name="K_p" default="1.0"/>
  <arg name="K_i" default="0.3"/>
  <arg name="v_nominal" default="0.5"/>
  <arg name="v_max" default="0.4"/>

  <!-- goal_generator -->
  <arg name="enable_goal_generator" default="false"/>
  <arg name="max_num_laps" default="3"/>
  <arg name="delay_start_secs" default="0.0"/>
  <arg name="waypoints_file" default="$(find gait_training_robot)/data/waypoints.yaml"/>


  <!-- Specify the where azure kinect is positioned on the robot.
    This is needed even if the azure kinect driver is included in the calling launch file -->
  <node name="tf_broadcaster_azure_kinect" pkg="tf" type="static_transform_publisher"  
    args="-0.028 0.023 0.0 3.1416 0 0 camera_mount_top camera_base 100" />

  <!-- Record trajectory
  <node name="trajectory_server" pkg="hector_trajectory_server" type="hector_trajectory_server">
    <rosparam file="$(find gait_training_robot)/params/slam/gmapping_params.yaml" command="load" />
  </node>-->

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="clearing_rotation_allowed" value="false" />
    <rosparam file="$(find gait_training_robot)/params/slam/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find gait_training_robot)/params/slam/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find gait_training_robot)/params/slam/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find gait_training_robot)/params/slam/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find gait_training_robot)/params/slam/base_local_planner_params.yaml" command="load" />
    <remap from="/cmd_vel" to="/distance_controller/cmd_vel_in" if="$(arg enable_distance_controller)" />
  </node>

  <!-- Kinect driver launch file -->
  <!-- Have to delay-launch this because openni will not work -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch"
           if="$(eval arg('enable_distance_controller') or 
                      arg('azure_kinect_driver_required'))">
    <arg name="time" value="2" />
    <arg name="pkg" value="azure_kinect_ros_driver" />
    <arg name="file" value="driver.launch" />
    <arg name="value" 
        value="depth_mode:=WFOV_2X2BINNED 
               body_tracking_enabled:=true fps:=30 rgb_point_cloud:=false
               recording_file:=$(arg recording_file)
               recording_loop_enabled:=$(arg recording_loop_enabled)
               required:=true
               output:=screen" />
  </include>

  <!-- If distance controller is enabled: -->
  <group if="$(arg enable_distance_controller)">
    <!-- Distance controller node -->
    <node pkg="gait_training_robot" type="distance_controller" name="distance_controller" output="screen" >
      <remap from="/distance_controller/cmd_vel_out" to="/cmd_vel" />
      <param name="dist_desired" value="$(arg dist_desired)" />
      <param name="use_marker" value="$(arg use_marker)" />
      <param name="timeout_threshold" value="$(arg timeout_threshold)" />
      <param name="v_in_threshold" value="$(arg v_in_threshold)" />
      <param name="u_i_max" value="$(arg u_i_max)" />
      <param name="K_p" value="$(arg K_p)" />
      <param name="K_i" value="$(arg K_i)" />
      <param name="v_nominal" value="$(arg v_nominal)" />
      <param name="v_max" value="$(arg v_max)" />
    </node>
  </group>

  <!-- goal_generator -->
  <node pkg="gait_training_robot" type="goal_generator" name="goal_generator" if="$(arg enable_goal_generator)" output="screen" >
    <param name="max_num_laps" value="$(arg max_num_laps)" />
    <param name="delay_start_secs" value="$(arg delay_start_secs)" />
    <param name="yaml_file_path" value="$(arg waypoints_file)" />
  </node>


</launch>